<nav class="navbar navbar-expand-md navbar-light bg-light fixed-left">
<div class="container d-block">
  <a href="/" class="navbar-brand">Sidebar</a>
  <hr>
  <ul class="navbar-nav nav-pills flex-column mb-auto">
  <li class="nav-item"><a class="nav-link" href="{{ path('admin_recipes') }}">Mes recettes</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('add_recipe') }}">Ajouter une recette</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
  </ul>
  </div>
</nav>