@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@include box-shadow($btn-box-shadow);

$star: #e6c315;

* {
    font-family: 'Inter', sans-serif;
}
h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}

body {
    background-color: #decedc;
}

a {
    text-decoration: none;
}

%headings > i {
    position: relative;
    bottom: 0.2rem;
}
.not-displayed {
    display: none;
}

.navbar.sticky-top {
    margin-bottom: 5px;
}
.heading {
    margin: 0;
    height: 75px;
}

.heading > h3 {
    width: fit-content;
}

.heading > h3 > * {
    padding: 0;
}

.fixed-left {
    bottom: 0;
    width: 215px;
    align-items: flex-start;
    position: fixed;
    top: 0;
    z-index: 1030;
}

.with-sb {
    margin-left: 245px;
    margin-right: 35px;
}

.page {
    background-color: white;
}

.cover {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card {
    margin-top: 10px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.card-image {
    position: relative;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.card-body {
    padding: 0.5rem;
    padding-bottom: 0;
}


#recipe_name {
    margin-bottom: -1rem;
}
.recipe {
    position: relative;
    top: 0;
    left: 0;
}
.type {
    position: absolute;
    top: -10px;
    left: -10px;
}

.show {
    margin-left: 15px;
    padding: 5px 30px;
}

.btn-delete {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
.row.titles {
    margin: 0 5px;
    padding: 5px 15px 10px;
}
.row.list {
    margin: 0 5px;
    border-bottom: darkgrey thin solid;
    padding: 5px 15px 10px;
}

/* Comment */
.comment {
    padding-left: 8px;
    margin: 10px 0;
    border-bottom: darkgrey thin solid;
}

.comment .writer {
    padding: 0 16px;
    font-size: 15px;
}

.writer > span {
    padding: 5px;
}

.writer .bi {
    font-size: 20px;
}

.writer-icon {
    border: black 2px solid;
    width:35px;
    height:35px;
    font-size:20px;
    padding-left: 1px;
    padding-top: 1px;
}
.comment .content {
    padding: 8px 16px;
}

.star {
    color: $star;
    font-size: 1.5em;
}

.star.mini {
    font-size: 1rem;
}